* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.clear{
   clear: both;
}

.container {
  margin: 0 auto;
  overflow: auto;
  max-width: 1100px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 20px 0;
}

#navbar {
  background: #333;
  color: white;
  overflow: auto;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style-type: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}

#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* showcase css */

#showcase {
  background: url(../images/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

#showcase .showcase__content {
  text-align: center;
  padding: 173px;
}

.spantext {
  color: #f7c08a;
}

.showcase__content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.showcase__content p {
  color: white;
}

.showcase__content a {
  font-size: 18px;
  display: inline-block;
  color: white;
  background-color: #333;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.showcase__content a:hover {
  color: #f7c08a;
}


/* css of home info */



#homeinfo{
  height: 400px;
}

.homeinfo__image{
  width: 50%;
  float: left;
  min-height: 100%;
  background: url('../images/photo-1.jpg');
}
.homeinfo__content{
  width: 50%;
  float: right;
  text-align: center;
  overflow: hidden;
  padding:70px 30px;
  background-color: #333;
 height: 100%;
}

.homeinfo__content span{
    color: #f7c08a;

}

.homeinfo__content h1 {
  color: white;
  padding-bottom: 30px;
}
.homeinfo__content p {
  color: white;
  padding-bottom: 30px;
}

.homeinfo__content a{
  text-decoration: none;
  background-color: #fff;
  padding: 15px 20px;
 }

 .homeinfo__content a:hover{
  background-color:#f7c08a ;
 
  
 }



 /* features box styling
  */



#features .box{
   
  width: 33.3%;
  float: left;
  text-align: center;
  padding: 50px;

}

.othercolor{

 background-color: #f7c08a;

}
.bgprimary{
  color: #f7c08a;
}


/* footer styling */


#footer{
   background-color: #333;
   color: white;
   padding: 10px;
   text-align: center;
}

/* about page css

*/


.aboutinfo__left{
  width: 50%;
  float: left;
  height: 100%;
  padding: 30px;
}

.aboutinfo__right{
  width: 50%;
  float: right;
  padding: 30px;
   
}

.aboutinfo__image{
  min-height: 100%;
  width: 70%;
 

  margin: auto;
  display: block;
  border-radius: 50%;
}

.aboutinfo__heading{
  font-size: 40px;
  line-height: 1.6em;
}


.testomonial{
  background-color: #f7c08a;
  opacity: 0.9;
  border-radius: 10px;
  
}

.testomonial__image{
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  

}


#testomonials{
  height: 600px;
  background: url('../images/test-bg.jpg') no-repeat center center/cover ;
}

.testomonial__heading{
  color: white;
  font-size: 50px;
  text-align: center ;
  line-height: 1.5em;

}

#testomonials .container{
  padding-top: 70px;
}

#testomonials .testomonial{
  padding: 20px;
  margin-bottom: 10px;
}



/* contact us styling */



#contactform{
  padding: 20px;
}

.formbutton{
  background-color: #333;
  color: white;
  padding: 15px 20px;
  border: none;
  outline: none;
}


.formgroup{
  margin-top: 20px;
}

#contactform label{
  display: block;
  margin-bottom: 10px;
}

#contactform input , #contactform textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
}

#contactform textarea{
  height: 200px;;
}

#contactform input:focus , #contactform textarea:focus{
  outline: none;
  border-color: #f7c08a;
}

#contactinfo .box{
   
  width: 33.3%;
  float: left;
  text-align: center;
  padding: 50px;

}

.bg-dark{
  background-color: #333;
  color: white;
}